!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = stylesheet_link_tag :all
    = javascript_include_tag :all
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand Intalio|HR
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a#job_link Jobs
              %li
                %a#resume_link Your resume
    .container
      .hero-unit
        %h1 Awesome jobs!
        %p Job are ficticious but Intalio|Create is not. Surrender yourself for the 10x productivity increase that Intalio|Create will give you
    #index_container.container
    #resume_container.container
    .container
      %hr/
      %footer
        %p Powered by Intalio|Create
    %script#JobPositionItemTemplate{:type => "text/intalio"}
      %h2 {{name}}
      %p {{description_parsed}}
      %p
        %a.btn View details
    %script#JobPositionDetailModal{:type => "text/intalio"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel {{name}}
      .modal-body
        %p {{description}}
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
        %button.btn.btn-primary Save changes
    %script#AuthForm{:type => "text/intalio"}
      .span6
        %form
          %fieldset
            %legend
              %h3
                Sign up
            #errorRegister.alert.alert-error
              %button.close{:type => :button,"data-dismiss" => "alert"}
                &times;
              An error ocurred
            %label
              Name
            %input#registerName{:type => :text,:placeholder => "Name"}
            %label
              Email
            %input#registerEmail{:type => :text,:placeholder => "Email"}
            %label
              Password
            %input#registerPassword{:type => :password,:placeholder => "Password"}
            %p
            %button#btnRegister.btn-primary.btn-large{:type => :button}
              Register
      .span6
        %form
          %fieldset
            %legend
              %h3
                Sign in
            #errorLogin.alert.alert-error
              %button.close{:type => :button,"data-dismiss" => "alert"}
                &times;
              An error ocurred
            %label
              Email
            %input#loginEmail{:type => :text,:placeholder => "Email"}
            %label
              Password
            %input#loginPassword{:type => :password,:placeholder => "Password"}
            %p
            %button#btnLogin.btn-primary.btn-large{:type => :button}
              Login        
    %script#EducationItem{:type => "text/intalio"}
      %td
        {{ institute }}
      %td
        {{ degree }}
      %td
        {{ start_date }}
      %td
        {{ end_date }}
      %td
        %button.btn.btn-danger
          Delete
    %script#ExperienceItem{:type => "text/intalio"}
      %td
        {{ company }}
      %td
        {{ position }}
      %td
        {{ start_date }}
      %td
        {{ end_date }}
      %td
        %button.btn.btn-danger
          Delete
    %script#SkillItem{:type => "text/intalio"}
      %td
        {{ skill_name }}
      %td
        {{ proficiency_name }}
      %td
        %button.btn.btn-danger
          Delete
    %script#ResumeForm{:type => "text/intalio"}
      .span12
        %legend
          %h1
            Your data
          %blockquote
            %ul
              %li
                %strong
                  Name:
                {{ name }} 
              %li
                %strong
                  Email:
                {{ email }} 
        %legend
          %h1
            Education
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th
                %h3
                  Institute
              %th
                %h3
                  Degree
              %th
                %h3
                  Start date
              %th
                %h3
                  End date
              %th
          %tbody#educationContainer
            %tr.info
              %td
                %input{:type => :text}
              %td
                %input{:type => :text}
              %td
                %input{:type => :text}
              %td
                %input{:type => :text}
              %td
                %button.btn.btn-primary
                  Add
        %legend
          %h1
            Experience
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th
                %h3
                  Company
              %th
                %h3
                  Position
              %th
                %h3
                  Start date
              %th
                %h3
                  End date
              %th
          %tbody#experienceContainer
            %tr.info
              %td
                %input{:type => :text}
              %td
                %input{:type => :text}
              %td
                %input{:type => :text}
              %td
                %input{:type => :text}
              %td
                %button.btn.btn-primary
                  Add
        %legend
          %h1
            Skills
        %table.table.table-hover.table-condensed
          %thead
            %tr
              %th
                %h3
                  Skill
              %th
                %h3
                  Proficiency
              %th
          %tbody#skillContainer
            %tr.info
              %td
                %input{:type => :text}
              %td
                %input{:type => :text}
              %td
                %button.btn.btn-primary
                  Add
